on post-fs-data
    setprop vold.post_fs_data_done 1

on boot
     setrlimit 7 2048 2048
     chmod 0664 /dev/light
     chmod 0664 /dev/proximity
     chmod 0664 /dev/accel
     chmod 0664 /dev/compass_aot
     chmod 0664 /dev/akm8975_dev
     chmod 0664 /dev/compass_dev
     chmod 0664 /dev/gyro

     chown system system /sys/kernel/logger/log_main/enable
     chown system system /sys/kernel/logger/log_events/enable
     chown system system /sys/kernel/logger/log_radio/enable
     chown system system /sys/kernel/logger/log_main/priority
     chown system system /sys/kernel/logger/log_events/priority
     chown system system /sys/kernel/logger/log_radio/priority
     chown radio system /sys/class/leds/ptt_led/brightness
     chmod 664 /dev/input/event1
     chown system system /sys/devices/platform/msm_hsusb/gadget/sdstatus
     chown system system /sys/devices/platform/msm_hsusb/gadget/switchusb
     chown system system /sys/devices/platform/msm_hsusb/gadget/fixusb

     mkdir /data/misc/bluetooth 0770 bluetooth bluetooth
     chown bluetooth bluetooth /sys/module/bluetooth_power/parameters/power
     chown bluetooth bluetooth /sys/class/rfkill/rfkill0/type
     chown bluetooth bluetooth /sys/class/rfkill/rfkill0/state
     chown bluetooth bluetooth /proc/bluetooth/sleep/proto
     chown system system /sys/module/sco/parameters/disable_esco
     chmod 0660 /sys/module/bluetooth_power/parameters/power
     chmod 0660 /sys/class/rfkill/rfkill0/state
     chmod 0660 /proc/bluetooth/sleep/proto
     chmod 0660 /proc/bluetooth/clock/proto
     write  /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor "ondemand"
     write  /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq 368640
     chown bluetooth bluetooth /dev/ttyHS0
     chmod 0660 /dev/ttyHS0
     chown bluetooth bluetooth /sys/devices/platform/msm_serial_hs.0/clock
     chmod 0660 /sys/devices/platform/msm_serial_hs.0/clock

service port-bridge /system/bin/port-bridge /dev/smd0 /dev/ttyGS0
    
service callife /system/bin/callife
    oneshot

service rmt_oeminfo /system/bin/rmt_oeminfo
    class core

service oem_rpc_svc /system/bin/oem_rpc_svc
    class core
