on emmc-fs
	wait /dev/block/mmcblk0p12
	mount ext4 /dev/block/mmcblk0p12 /system rw barrier=1

	wait /dev/block/mmcblk0p13
	exec /system/bin/e2fsck -p /dev/block/mmcblk0p13
	mount ext4 /dev/block/mmcblk0p13 /data nosuid nodev barrier=1 noauto_da_alloc

	mount ext4 /dev/block/mmcblk0p6 /cache nosuid nodev barrier=1

service rmt_storage /system/bin/rmt_storage
	class main

