on emmc-fs
	wait /dev/block/mmcblk0p12
	mount ext4 /dev/block/mmcblk0p12 /system rw barrier=1

	wait /dev/block/mmcblk0p13
	exec /system/bin/e2fsck -p /dev/block/mmcblk0p13
	mount ext4 /dev/block/mmcblk0p13 /data nosuid nodev barrier=1 noauto_da_alloc

	mount ext4 /dev/block/mmcblk0p6 /cache nosuid nodev barrier=1

	# Mount the internal storage
	wait /dev/block/mmcblk0p14
	mount vfat /dev/block/mmcblk0p14 /mnt/emmc uid=1000,gid=1015,umask=0002,utf8

	# Try to mount the partiton on the SD-card with an ext2|3|4 filesystem
	# mount auto /dev/block/mmcblk0p2 /sd-ext

	# Enable virtual MTD
	write /sys/module/block2mtd/parameters/block2mtd /dev/block/mmcblk0p7

service rmt_storage /system/bin/rmt_storage
	class main

